#myDIV {
  max-width: 100%;
  height: 1700px;
  background: transparent;
  animation: mymove 2s infinite;
}

@keyframes mymove {
  from {background-color: red;}
  to {background-color: blue;}
}



ul{
/*	float: right;*/
	list-style-type: none;
	margin-top: -1650px;
	margin-right: 15px;
	
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 10px 50px;
	border: 8px solid black;
	transition: 0.5s ease;
	margin: 5px;
	font-weight: bold;
	font-family: Century Gothic;
}

ul li a:hover{
	background-color: red;
	color: #000;
}

ul li.active a{
	background-color: white;
	color: black;
}





*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.main{
	text-align: center;
	padding: 60px;
}
.main h1{
	text-transform: uppercase;
	margin-bottom: 60px;
	color: white;
	font-size: 50px;
}

/*.inside_box{
	text-align: center;
	height: 100%;
}*/

/*.border{
	display: block;
	margin: auto;
	width: 160px;
	height: 3px
	background: #3498db;
	margin-bottom: 40px;
}*/
.ps{
	margin-bottom: 100px;
}
/*.ps a{
	display: inline-block;
	margin: 50px 30px 40px 0px;
	height : 150px;
	overflow: hidden;
}*/
.ps a img{
	filter: grayscale(100%);
	transition: 0.4s all;
}
.ps a:hover > img{
	filter:none;
}
.section{
/*	width: 10px;
*/	font-size: 60px;
	color : white;
	text-align: center; 
	height: 0;
	overflow: hidden;
}
/*.section:target{
height: 40px; 
}*/
.name{
	display: block;
	margin-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
}
hr{
	width: 250px;
	  margin-left: auto;
	  margin-right: auto;
	  margin-bottom: 100px;

}
.yoyo{
	float: right;
	padding-right: 100px;
}
/*
ul{
	float: right;
	list-style-type: none;
	 
}*/

ul li{
	display: inline-block;
	padding-left: 1700px;
}

ul li a{
	text-decoration: none;
	color: white;
	padding: 3px 3px;
	border: 4px solid white;
	transition : 0.6s ease;
	font-size: 150%;
	border-radius: 10%;
}

ul li a:hover{	
	background-color: lightgreen;
	color: black;
	border: 4px black;
}
