*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

.title{
	position: absolute;
	top: 35%; 
	left: 55%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: transparent;
	font-size: 100px;
    
}
